<div class="container mt-3">
  <mat-card *ngIf="game">
    <mat-card-title>{{game.inOrder | percent: '2.2' }} in Order</mat-card-title>
    <mat-card-subtitle>Historical Average in Order: {{game.historicalInOrder | percent: '2.2'}} </mat-card-subtitle>
    <mat-card-content>
      <div class="row justify-content-center">
        <div class="row justify-content-center ">
          <div class="m-2">
            <b>Spades:</b>
            <div>
              <div class="deck-card" *ngFor="let card of game.spadesRow">
                {{ convertToEmoji(card) }}
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="m-2">
            <b>Diamonds:</b>
            <div>
              <div class="deck-card" *ngFor="let card of game.diamondsRow">
                {{ convertToEmoji(card) }}
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center ">
          <div class="m-2">
            <b>Hearts:</b>
            <div>
              <div class="deck-card" *ngFor="let card of game.heartsRow">
                {{ convertToEmoji(card) }}
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center ">
          <div class="m-2">
            <b>Clubs:</b>
            <div>
              <div class="deck-card" *ngFor="let card of game.clubsRow">
                {{ convertToEmoji(card) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <div class="container">
      <div class="row">
        <div class="">
          <button mat-raised-button color="primary" (click)="shuffleDeck(game)">Deal Again</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>